venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.egg-info
dist/
build/
*.so
.DS_Store
.vscode/
debug.log
debug_python.log
uploaded_pic/
uploads/
*.pkl
svc.pkl
disease_model.pkl
disease_data.pkl
label_encoder.pkl