body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#f0d2ef, #dfe4f8, #ace2e8, #dfe4f8,#e2cfed);


}


.top-bar {
    background: linear-gradient(to right, #20126d, #a772c6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center; /* Vertically centers logo and title */
}

.logo-img {
    width: 60px; /* Adjust logo size */
    height: auto;
}

.logo-title {
    color: white;
    font-size: 22px;
    margin-left: 10px; /* Adds space between logo and title */
    font-weight: bold;
    font-family: 'Georgia', serif;
    background-color: linear-gradient(to right, #1b0d6bf4, #a772c6);
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}



.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Symptoms Form Section */
.form-container {
              background:linear-gradient(to bottom,rgba(225, 155, 233, 0.96),rgba(101, 118, 178, 0.96), #a772c6);

    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 40px auto;
}

.form-container h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
    display: block;
    margin: 10px 0 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    background-color: #5a066d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Text shadow */
    box-shadow: 2px 2px 10px rgb(0, 0, 0); /* Box shadow */
}

button:hover {
    background-color: #00bfff;
}

form {
    display: flex;
    flex-direction: column;
    
}

/* Go Back Button */
.go-back-btn {
    background: #4d0686;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
    width: 100%;
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Text shadow */
    box-shadow: 2px 2px 10px rgb(0, 0, 0); /* Box shadow */
}

.go-back-btn:hover {
    background: #01bdf1;
    transform: scale(1.05);
}
