<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Recommendation System</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/images/logo.jpg" alt="Logo" class="logo-img">
                <span class="logo-title">MediBot - Medicine Recommender</span>
            </div>

            <!-- Buttons -->
            <div class="buttons">
            <button onclick="window.location.href='../templates/index.html'">Home</button>
            <button onclick="window.location.href='../php/about.php'">About</button>
            <button onclick="window.location.href='../php/login.php'">Login</button>
            <button onclick="window.location.href='../php/signup.php'">Sign Up</button>
            
        </div>
        </nav>
    </header>

    <section class= "hero">
         <img src="../static/images/homepage_pic.jpg" alt="Medi_recom">
         <h1>Making medication administration safe for everyone</h1>
    </section>
    
     
</body>
</html>